@media (max-width: 991.98px) {
    .testimony-section .overlay {
        display: none;
    }
}

@media (max-width: 768px) {
    /* .pl-md-5,
    .px-md-5 {
        padding-left: 3rem;
    }
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    } */
    .testimony-section .item {
        place-items: center;
        gap: 20px;
        grid-template-columns: repeat(2,1fr);
    }
    .services .row-sec {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2%;
        margin: 6% 0;
        justify-items: center;
        place-items: center;
    }
    .contact .contacting {
        grid-template-columns: repeat(1,1fr);
    }
    .contact {
        height: 950px;
        margin-bottom: 50px;
    }
    .contact .bg-opacity h3 {
        padding-top: 0px;
    }
    .contact .send{ 
        height: 550px;
    }
    .ftco-about .about-wrap {
        position: relative;
        width: 100%;
        margin: auto;
        height: 50%;
    }
    .services .gh {
        display: none;
    }
    .login button {
        width: 90%;
    }
    .login .logning {
        width: 100%;
    }
}
@media (min-width: 786px) {
    .login button {
        width: 90%;
    }
    .login .logning {
        width: 100%;
    }
}
@media (max-width: 800px) {
    .head h1 {
        font-size: 2.5rem;
        margin-top: -200px;
    }
    .flex-item-right,
    .flex-item-left {
        flex: 100%;
        height: 300px;
    }
    .courses {
        grid-template-columns: auto;
        align-content: space-evenly;
    }
    .services .gh {
        display: none;
    }
    
}
@media (max-width: 858px) {
    .services .row {
        display: none;
    }
    
    .courses {
        display: grid;
        grid-template-columns: auto auto;
        align-content: space-evenly;
    }
    .testimony-wrap {
        width: 100%;
        padding: 7%;
        margin-top: 5%;
    }
    
}
@media only screen and (max-width: 480px) {
    .services .row-sec {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 2%;
        margin: 6% 0;
        justify-items: center;
        place-items: center;
    }
    label.logo img {
        width: 80px;
        height: 81px;
    }
}
@media (max-width: 767.98px){
.ftco-about .about-wrap {
    height: 400px;
}
.ftco-about .img {
    height: 300px;
}

}
